{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Контейнеры для шапки и футера -->
    <div id="header-container"></div>

    <section id="teachers">
        <h1>Биздин мугалимдер</h1>
        <!-- Содержимое страницы "Биздин мугалимдер" -->

        <div class="teachers-container">
            {% for teacher in teachers %}
                <div class="teacher">
                    {% if teacher.photo %}
                        <img src="{{ teacher.photo.url }}" alt="Фотография учителя {{ teacher.name }}">
                    {% else %}
                        <img src="{% static 'images/default_teacher_photo.png' %}" alt="Фотография учителя {{ teacher.name }}">
                    {% endif %}
                    <h3>{{ teacher.name }}</h3>
                    <p>{{ teacher.subject }}</p>
                </div>
                <p class="teacher_desc">{{ teacher.description }}</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
